/* font-family: "Akrobat-black"; */
@font-face {
	font-family: "Akrobat-Black";
	src: url("../fonts/Akrobat-Black.otf");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Akrobat-Bold"; */
@font-face {
	font-family: "Akrobat-Bold";
	src: url("../fonts/Akrobat-Bold.otf");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Akrobat-Regular"; */
@font-face {
	font-family: "Akrobat-Regular";
	src: url("../fonts/Akrobat-Regular.otf");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Akrobat-Light"; */
@font-face {
	font-family: "Akrobat-light";
	src: url("../fonts/Akrobat-Light.otf");
	font-style: normal;
	font-weight: normal;
}