*::-webkit-input-placeholder {
    font-size: 14px;
    color: #333f48;
    padding-left: 5px;
    opacity: 0.6
}

*:-moz-placeholder {
    font-size: 14px;
    color: #333f48;
    padding-left: 5px;
    opacity: 0.6
}

*::-moz-placeholder {
    font-size: 14px;
    color: #333f48;
    padding-left: 5px;
    opacity: 0.6
}

*:-ms-input-placeholder {
    font-size: 14px;
    color: #333f48;
    padding-left: 5px;
    opacity: 0.6
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-size: 18px;
    ;
    font-family: "Akrobat", sans-serif
}

ul {
    list-style: none;
    padding: 0;
}

.top-line-header {
    color: #333f48;
    margin-top: 10px;
}

.top-line-header .left-column {
    float: left;
    margin-top: 7px;
}

.top-line-header .left-column span:last-child {
    margin-left: 30px;
}

.top-line-header .right-column {
    float: right;
}

.top-line-header .right-column span:first-child {
    margin-right: 15px;
    font-size: 24px;
    color: #005dac;
    position: relative;
}

.top-line-header .right-column span:first-child::after {
    content: "";
    position: absolute;
    height: 18px;
    width: 1px;
    background-color: #999FA3;
    right: -10px;
    top: 50%;
    margin-top: -9px;
}

hr {
    color: #B2CEE6;
    margin-top: 5px;
}

.middle-line-header .cog-img {
    height: 80px;
    float: left;
    clear: left;
    padding-left: 10px;
}

.middle-line-header .cog img {
    margin-top: 0px;
    padding-top: 15px;
    margin-right: 10px;
}

.middle-line-header .cog p:first-of-type {
    font-size: 24px;
    text-align: left;
    margin-top: 0px;
    color: #005dac;
}

.middle-line-header .cog p:last-of-type {
    font-size: 16px;
    color: #333f48;
    text-align: left;
    margin-top: -15px;
    padding-left: 0px;
}

.cart {
    text-align: left;
    margin-top: 10px;
}

.cart span:nth-of-type(2) {
    padding: 10px 15px;
    color: white;
    background-color: #40c8f4;
    margin-left: 10px;
    margin-right: 10px;
}

.catalog,
.main-navigation {
    margin-top: 10px;
}

.catalog-button {
    background-color: #00b3f1;
    position: relative;
    cursor: pointer
}

.catalog-button p,
.catalog-button img {
    display: inline-block;
    color: white;
    padding: 12px 15px;
    margin: 0;
}

.catalog ul {
    display: none;
}

.inner-catalog ul {
    background-color: #00B3F1;
    display: none;
}

.inner-catalog ul li {
    padding: 10px 0px;
    padding-left: 25px;
}

.inner-catalog ul a {
    color: white;
}

.main-catalog {
    margin-top: 0;
    width: 92%;
    position: absolute;
    z-index: 100
}

.catalog-2-level {
    position: absolute;
    display: none;
    opacity: 1;
    left: 100%;
    top: 0;
    width: 270px;
    height: 100%;
}

.catalog-2-level ul {
    display: none;
}

.catalog-2-level li {
    padding: 20px 50px;
}

.main-catalog .arrow {
    position: relative
}

.main-catalog .arrow::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    top: 50%;
    margin-top: -2px;
    transform: rotate(45deg);
    right: 10px;
}

.main-navigation li {
    display: inline-block;
    padding: 0px 18px;
    vertical-align: top
}

.main-navigation li a {
    color: #333f48;
}

.form form {
    margin-top: 20px;
}

.form input {
    width: 100%;
    padding: 0;
    position: relative;
    outline: none;
}

.form button {
    background-color: transparent;
    width: 135px;
    border: 1px solid #005dac;
    right: 11px;
    top: 20px;
    height: 29px;
    color: #005dac;
    position: absolute
}

.intro {
    text-align: center;
    background-image: url(/images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: auto 480px;
    background-position: center;
    height: 480px;
    margin-top: 20px;
}

.intro p {
    margin-top: 50px;
    margin-bottom: 80px;
}

h1 {
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
    font-size: 48px;
    margin-top: 60px;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    width: 166px;
    height: 2px;
    top: 100%;
    margin-top: 40px;
    background-color: #40c8f4;
    left: 50%;
    margin-left: -83px;
}

.intro a {
    color: white;
    background-color: #005DAC;
    padding: 15px 10px;
}

.news h2 {
    text-align: center;
    position: relative;
}

.news h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #40C8F4;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    margin-top: 15px;
}

.newsletter {
    text-align: center;
}

.newsletter p {
    height: 60px;
    font-size: 18px;
}

.news-button {
    width: 180px;
    height: 60px;
    border: 1px solid #005dac;
    border-right: none;
    margin-top: 30px;
    position: relative;
}

.news-button a {
    font-size: 18px;
    display: block;
    margin-top: 15px;
    padding-left: 10px;
    text-decoration: underline;
}

.news-button::after {
    content: "";
    position: absolute;
    height: 43px;
    width: 42px;
    border-top: 1px solid #005dac;
    border-right: 1px solid #005dac;
    left: 100%;
    top: 7px;
    margin-left: -21px;
    transform: rotate(45deg)
}

.newsletter span {
    font-size: 14px;
    color: #00b3f1
}

.radios {
    text-align: center;
    margin-top: 50px;
}

.radios input[type="radio"] {
    display: none;
}

.radios input[type="radio"] + label {
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #b1b6b9;
    margin: 0;
    margin-top: 0px;
    cursor: pointer;
    margin-left: 35px;
}

.radios input[type="radio"]:first-child + label {
    margin-left: 0;
}

.radios input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: 1px solid #b1b6b9;
    position: absolute;
    border: 1px solid #b1b6b9;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    z-index: 100
}

.radios input[type="radio"]:checked + label::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    border: 1px solid #b1b6b9;
    border-radius: 50%;
    background-color: blue;
    top: -1px;
    left: -1px;
    z-index: 1
}

.articles h2 {
    text-align: center;
    position: relative;
}

.articles h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #40C8F4;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    margin-top: 15px;
}

article {
    margin-top: 20px;
}

article span {
    color: #00b3f1
}

article h3 {
    font-size: 25px;
}

.more-articles {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

footer {
    background-color: #333F48;
    margin-top: 50px;
    padding-top: 35px;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer,
footer a {
    display: block;
    color: #8ba0b0;
    font-size: 16px;
    padding: 10px 0;
}

footer .col-md-2:first-of-type .footer-item span {
    display: block;
    text-align: center;
    margin-top: 12px;
}

footer .col-md-2:first-of-type .footer-item span:nth-of-type(2) {
    margin-top: 19px;
}

footer .col-md-2:first-of-type .footer-item span:last-of-type {
    margin-top: 20px;
    text-transform: uppercase;
}

footer .col-md-2:last-of-type .footer-item {
    text-align: right;
    padding-top: 10px;
}

footer .col-md-1 {
    padding: 0;
}

footer a:hover {
    text-decoration: underline
}

.bottom-footer .col-md-2 p {
    text-align: center;
    padding-left: 25px;
}

.bottom-footer .col-md-10 p {
    padding-left: 10px;
}

.articles-about {
    text-align: center;
}

.breadcrumbs li {
    display: inline-block;
}

.about h2 {
    position: relative
}

.about h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #40C8F4;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;
}

.right-column-about {
    margin-top: 75px;
    text-transform: uppercase;
}

.right-column-about .articles-about:not(:last-of-type) {
    border-bottom: 1px solid #CCCFD1
}

.right-column-about .articles-about p:first-of-type {
    color: #005dac;
    font-weight: bold
}

.right-column-about .articles-about span {
    display: block;
}

.right-column-about .articles-about:first-of-type span:last-of-type {
    color: #333f48;
    font-size: 18px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.right-column-about .articles-about button {
    color: white;
    background-color: #005DAC;
    border: none;
    padding: 5px 10px;
    margin-bottom: 47px;
}

.right-column-about .articles-about img {
    padding-top: 48px;
}

.quote {
    background-color: #F5F5F6;
}

.quote span {
    float: left;
    padding-left: 40px;
    font-size: 150px;
    color: #40c8f4;
    margin-top: -10px;
}

.quote p {
    padding: 30px 60px;
    padding-left: 100px;
}

.basket h2 {
    position: relative
}

.basket h2::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #40C8F4;
    bottom: 0;
    left: 0;
    margin-bottom: -20px;
}

.steps {
    display: inline-block;
    margin-top: 40px;
}

.steps span:first-of-type {
    padding: 20px 25px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
}

.basket-items {
    padding-top: 60px;
}

.active-step {
    border: 1px solid #40C8F4 !important;
    color: #40C8F4
}

.product {
    text-transform: uppercase;
    margin-top: 40px;
}

.product img {
    display: block;
}

.number-of-product {
    display: inline-block;
    margin-top: 20px;
}

.product .col-md-4 {
    margin-top: 23px;
}