/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    article img {
        width: 100%;
    }
    .main-navigation li {
        font-size: 15px;
        padding: 0 15px;
    }
    footer a {
        font-size: 13px !important
    }
    .cart span:nth-of-type(3) {
        display: none;
    }
    .catalog-items .to-card a {
        padding: 5px 20px;
    }
    .technical-information-product h3 {
        font-size: 18px
    }
    .catalog-items .col-md-4 img {
        width: 100%;
    }
    .brands ul li {
        font-size: 16px
    }
    .brands ul li:not(:first-child) {
        padding-left: 10px;
    }
    .steps span:last-of-type {
        float: left;
        font-size: 13.4px;
        margin-top: 21px;
        margin-left: 7px;
    }
    .type-of-pay-wrapper input[type="radio"]:last-of-type + label {
        margin-left: 20px;
    }
    .type-of-pay-wrapper input[type="radio"]:nth-of-type(2) + label {
        margin-left: 20px;
    }
    .pictures-product a:not(:first-of-type) img {}
    .pictures-product {
        text-align: center;
    }
    .pictures-product a:not(:first-of-type) {
        float: none !important;
        display: inline-block;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .catalog-2-level {
        left: 00px;
        top: 50px;
        z-index: 100;
        border-top: 2px solid white
    }
    .arrow::after {
        transform: rotate(135deg) !important
    }
    .form button {
        top: 0;
    }
    .news-button {
        margin-left: auto;
        margin-right: auto;
    }
    article {
        text-align: center;
    }
    footer ul {
        text-align: center;
    }
    .footer-item-img {
        text-align: center !important;
    }
    .logo {
        text-align: center;
    }
    .cart {
        text-align: center;
    }
    .cog-img {
        display: none;
    }
    .cog p {
        text-align: center !important;
    }
    .cog {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .brands ul {
        display: none;
        background-color: #00B3F1;
    }
    .brands ul li {
        display: block;
        padding: 10px 25px !important;
    }
    .brands ul li a {
        color: white
    }
    .brands ul {
        position: absolute;
        top: -32px;
        width: 100%;
        z-index: 10;
        margin-top: 0px;
    }
    .steps span:last-of-type {
        float: left;
        font-size: 17.2px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .pictures-product a:not(:first-of-type) {
        float: right !important;
        clear: right;
    }
    footer .footer-item-img {
        margin-top: -150px !important;
    }
    footer li {
        text-align: left !important;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .container-fluid h1 {
        font-size: 28px;
    }
    .container-fluid p {
        font-size: 15px
    }
    .main-navigation li {
        padding: 0 10px;
    }
    .type-of-pay-wrapper input[type="radio"]:last-of-type + label {
        margin-left: 10px;
    }
    .type-of-pay-wrapper input[type="radio"]:nth-of-type(2) + label {
        margin-left: 10px;
    }
    footer .footer-item-img {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    .main-navigation li {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 605px) {
    .paginator ul li:nth-child(1),
    .paginator ul li:nth-child(6),
    .paginator ul li:nth-child(7),
    .paginator ul li:nth-child(8),
    .paginator ul li:nth-child(9),
    .paginator ul li:nth-child(10),
    .paginator ul li:nth-child(11),
    .paginator ul li:nth-child(13) {
        display: none;
    }
}

@media only screen and (max-width: 685px) {
    .type-of-pay-wrapper input[type="radio"]:last-of-type + label {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .main-navigation li {
        padding: 0 3px;
    }
}

@media only screen and (max-width: 510px) {
    .main-navigation li {
        display: block;
        text-align: center;
    }
    .main-navigation li:not(:last-child) {
        border-bottom: 2px solid white;
        padding-bottom: 7px;
    }
    .main-navigation li a {
        color: aliceblue;
    }
    .main-navigation ul {
        background-color: #40C8F4;
    }
    .main-navigation li:first-of-type {
        padding-top: 10px;
    }
    .main-navigation li:last-of-type {
        padding-bottom: 10px;
    }
    .pictures-product a:first-of-type img {
        width: 100%;
    }
    .pictures-product a:not(:first-of-type) img {}
    .pictures-product {
        text-align: center;
    }
    .pictures-product a:not(:first-of-type) {
        float: none !important;
        display: inline-block;
    }
    .col-md-offset-1 .to-card {
        display: block;
        width: 100%;
    }
    .col-md-offset-1 .technical-information-product .to-card a {
        text-align: center;
        padding: 10px 10px
    }
    .col-md-offset-1 .technical-information-product .buy-one-click {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: -20px;
    }
    .col-md-offset-1 .technical-information-product .buy-one-click a {
        padding-top: 0;
    }
    .technical-information-product .right input,
    .col-md-offset-1 .technical-information-product .right button {
        display: none;
    }
    .col-md-offset-1 .technical-information-product .right span:first-of-type {
        padding: 0 10px;
    }
    .col-md-offset-1 .technical-information-product .right span {
        line-height: 30px
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .logo img {
        width: 100%;
        height: 100%;
    }
    article img {
        width: 100%;
        height: 100%;
    }
    .container-fluid p {
        font-size: 13px
    }
    .cog p {
        font-size: 16px !important;
    }
    .top-line-header .left-column,
    .top-line-header .right-column {
        float: none;
        text-align: center;
    }
    .top-line-header .left-column span {
        padding: 0;
        margin: 0 !important;
    }
    .form button {
        width: 90px;
    }
    form.call-form {
        text-align: center;
        display: none;
        position: absolute;
        background-color: white;
        width: 240px;
        margin-left: -120px;
    }
    .catalog-items .col-md-4 img {
        width: 100%;
    }
    .catalog-items .left,
    .catalog-items .right {
        font-size: 15px
    }
    .quote span {
        padding-left: 6px;
    }
    .quote p {
        padding: 30px 60px;
        padding-left: 60px;
        font-size: 18px
    }
    .type-of-pay-wrapper input[type="radio"]:nth-of-type(2) + label {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 369px) {
    .paginator ul li:nth-child(1),
    .paginator ul li:nth-child(12),
    .paginator ul li:nth-child(2),
    .paginator ul li:nth-child(6),
    .paginator ul li:nth-child(7),
    .paginator ul li:nth-child(8),
    .paginator ul li:nth-child(9),
    .paginator ul li:nth-child(10),
    .paginator ul li:nth-child(11),
    .paginator ul li:nth-child(13) {
        display: none;
    }
    .right-column-phone {
        float: none;
        text-align: center;
    }
    .right-column-phone span:first-child {
        display: block;
        text-align: center;
    }
    .steps span:last-of-type {
        float: left;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .type-of-delivery-wrapper input[type="radio"]:last-of-type + label {
        margin-left: 0px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 340px) {
    .catalog-items .to-card a {
        padding: 2px 5px;
    }
    .technical-information-product {
        font-size: 13.489999px
    }
}

@media only screen and (max-width: 320px) {
    .newsletter p {
        font-size: 14px
    }
    .cog p {
        font-size: 14px !important;
    }
    .main-navigation li {
        display: block;
        text-align: center;
    }
    .catalog-button p,
    .inner-catalog li {
        font-size: 14px;
        padding-left: 10px !important;
    }
    .brand-button p,
    .brands li {
        font-size: 14px;
        padding-left: 10px !important;
    }
    .main-navigation ul {
        background-color: #40C8F4;
    }
    .top-line-header .left-column span:last-child a {
        margin-left: 6px;
    }
    .catalog-items .left,
    .catalog-items .right {
        font-size: 13.489999px
    }
    .quote p {
        padding: 30px 60px;
        padding-left: 60px;
        font-size: 14px
    }
    .steps span:last-of-type {
        float: left;
        font-size: 10.1px;
        margin-top: 25px;
        margin-left: 1px;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}