/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    article img{
        width: 100%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .catalog-2-level{
        left: 00px;
        top: 50px;
        z-index: 100;
    }
    .arrow::after{
        transform: rotate(135deg) !important
    }
    .form button{
        top: 0;
    }
    .news-button{
        margin-left: auto;
        margin-right: auto;
    }
    article {
        text-align: center;
    }
        footer ul{
    text-align: center;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
.logo img{
    width: 100%;
    height: 100%;
}
      article img{
        width: 100%;
        height: 100%;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}